/* Spinning Wheel CSS */
@font-face {
  font-family: Ostrich;
  src: url('fonts/ostrich-sans-master/OstrichSans-Bold.otf')format('opentype'),
   url('fonts/ostrich-sans-master/webfonts/ostrich-sans-bold.ttf') format('truetype');
}
@font-face {
  font-family: OstrichInline;
  src: url('fonts/ostrich-sans-master/OstrichSansInline-Italic.otf')format('opentype'),
   url('fonts/ostrich-sans-master/webfonts/ostrich-sans-inline-italic.ttf') format('truetype');
}
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.video-container {
    position: relative;
    width: 100%;
    height: 100vh; /* Set to full viewport height */
    overflow: hidden;
}
video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensure the video covers the entire container */
    z-index: -1;
}
.page-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* color: white;
    text-align: center; */
    z-index: 1; /* Ensure content appears above video */
}
/* Janitza Logo */
.logo {
    left: 40px;
    margin: 0;
    position: absolute;
    top: 40px;
    width: 200px;
}

.clock-widget {
    position: absolute;
    right: 40px;
    top: 40px;
}

/* Animation Content */
.content {
    position: absolute;
    top: 0;
    left: 50%;
    width: 100%;
}
/* Falling-leaf animation */
.leaves {
  position: absolute;
}

.leaf1 {
  position: absolute;
  font-size: 70px;
  top:-700px;
  left: -10px;
  animation: fall 5s linear infinite;
}

.leaf2 {
  position: absolute;
  font-size: 55px;
  top:-700px;
  animation: fall2 6s linear infinite;
}

.leaf3 {
  position: absolute;
  font-size: 40px;
  top:-700px;
  left:-100px;
  animation: fall 4s linear infinite 1s;
}

.leaf4 {
  position: absolute;
  font-size: 45px;
  top:-700px;
  left:300px;
  animation: fall2 4s linear infinite 1.5s;
}

.leaf5 {
  position: absolute;
  font-size: 55px;
  top:-710px;
  left:250px;
  animation: fall3 4s linear infinite 2s;
}

.leaf6 {
  position: absolute;
  font-size: 55px;
  top:-710px;
  left:-250px;
  animation: fall3 4s linear infinite 1.5s;
}

.leaf7 {
  position: absolute;
  font-size: 35px;
  top:-710px;
  left:-350px;
  animation: fall2 5s linear infinite .5s;
}

.leaf8 {
  position: absolute;
  font-size: 75px;
  top:-730px;
  left:550px;
  animation: fall3 5s linear infinite .5s;
}

.leaf9 {
  position: absolute;
  font-size: 35px;
  top:-730px;
  left:150px;
  animation: fall4 6s linear infinite .3s;
}

.leaf10 {
  position: absolute;
  font-size: 55px;
  top:-730px;
  left:450px;
  animation: fall5 3.7s linear infinite 1.3s;
}

.leaf11 {
  position: absolute;
  font-size: 55px;
  top:-730px;
  left:650px;
  animation: fall5 4.7s linear infinite 1.7s;
}

@keyframes fall {
  0% {top:-710px; transform: translateX(-100px) rotateX(180deg);}
  100% {top:700px; transform: translateX(250px) rotateX(-180deg);}
}

@keyframes fall2 {
  0% {top:-710px; transform: translateX(50px) rotateX(-90deg);}
  100% {top:700px; transform: translateX(-350px) rotateX(180deg);}
}

@keyframes fall3 {
  0% {top:-730px; transform: translateX(0px) rotateX(-180deg);}
  100% {top:700px; transform: translateX(-400px) rotateX(180deg);}
}

@keyframes fall4 {
  0% {top:-730px; transform: translateX(0px) rotateY(-180deg);}
  100% {top:700px; transform: translateX(-400px) rotateY(180deg);}
}

@keyframes fall5 {
  0% {top:-710px; transform: translateX(-100px) rotateY(180deg);}
  100% {top:700px; transform: translateX(250px) rotateY(-180deg);}
}

#wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
text{
    font-family:'OstrichInline', Arial, sans-serif;
    font-size:35px;
    pointer-events:none;
    /* font-weight: bold; */
}
#chart{
    /*position:absolute;*/
    width:500px;
    height:500px;
    top:0;
    left:0;
}
#question{
    /*position: absolute;*/
    width:600px;
    height:300px;
    top:0;
    left:520px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-clip: text;
    background-image: linear-gradient(90deg, #e66465, #9198e5);
}
#question h1{
    font-size: 70px;
    font-weight: bold;
    /* font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; */
    font-family: 'Ostrich', sans-serif;
    padding: 0;
    margin: 0;
    text-align: center;
    color: transparent;
    text-shadow: 3px 2px 1px #570936;
}